@import "src/styles/variables";
@import "src/styles/_mixins.scss";

.consultation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $primary-dark;
}

.wrapper {
  color: $primary-white;
  background-color: $secondary-gray2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: $primary-width-mobile;
  margin-top: 1.25rem;
  padding: 0.625rem 0px 0.625rem 0px;
  @include tablet {
    width: $primary-width-tablet;
  }
  @include laptop {
    width: $primary-width-laptop;
  }
}

.h1 {
  font-size: 1rem;
  @include tablet {
    font-size: 1.75rem;
  }
  @include laptop {
    font-size: 2rem;
  }
}

.paragraph {
  font-size: $primary-font-size-sm;
  text-align: center;
  @include tablet {
    font-size: $primary-font-size-md;
  }
}
.inputIbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include laptop {
    display: flex;
    flex-direction: row;
  }
}

.input {
  outline: 0;
  border: 1px solid #eeba34;
  color: $primary-white;
  font-size: $primary-font-size-sm;
  margin: 0.625rem;
  width: 18.75rem;
  padding: 0.625rem;
  background-color: $secondary-gray2;
  @include tablet{
    font-size: $primary-font-size-md;
  }
}

.buttonSend {
  width: 6.126rem;
  height: 2rem;
  margin: 1.25rem 0 1.25rem 0;

  background: linear-gradient(
    99.45deg,
    #eeba34 25.18%,
    #ffd465 37.87%,
    #ffc42c 46.89%,
    #ffd465 55.24%,
    #eeba34 71.6%,
    #f8b638 86.63%
  );
  @include tablet {
    width: 10.5rem;
    height: 2.75rem;
  }
}
