// BACKGROUND COLOUR

$primary-dark: #1F1D1A;
$secondary-dark: #2C2B29;

// TEXT COLOUR

$primary-white: white;
$secondary-black: black;

$secondary-gray: #FFFFFF80;
$secondary-gray2:#292929;
$secondary-red:red
