@import "src/styles/variables";

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $primary-dark
  }
  
  .wrapper {
    color: $primary-white;
   
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-top: 20px;
    padding: 50px 0px 50px 0px;
    }

    .adresAndMap{
        display: flex;
    }


    h1{
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

    h2{
        margin-bottom: 15px;
    }

    .contacts{
        border: 1px solid #FFD465;
        width: 570px;
        padding: 30px;
    }

.social{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    gap: 20px;
}

.connection{
    display: flex;

}

    .phoneiadres{
        border-right: 1px solid ;
        width: 100%;
    }

    .phone{
        display: flex;
        gap: 15px;

    }
    .adres{
        display: flex;
        gap: 15px;
    }

    .application{
        background-color: $secondary-gray2;
        width: 570px;
        padding: 31px;
        margin-top: 20px;
       
    }


.btnInput{
    display: flex;
    gap: 15px;
}

    input{
        display: flex;
        flex-direction: column;
        outline: 0;
        border: 1px solid #EEBA34;
        color: $primary-white;
        margin-bottom: 10px;
        width: 300px;
        padding: 15px;
        background-color: $secondary-gray2;

    }

    .btn{
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 169px;
        height: 44px;
        margin-top: 20px;
        background: linear-gradient(
          99.45deg,
          #eeba34 25.18%,
          #ffd465 37.87%,
          #ffc42c 46.89%,
          #ffd465 55.24%,
          #eeba34 71.6%,
          #f8b638 86.63%
        );
      }

      .map{
        border: 0;
        margin-left: 10px;
        height: 537px;
        width: 560px;
      }