@import "src/styles/variables";
@import "src/styles/_mixins.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $secondary-dark;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: $primary-width-mobile;
  padding: 1.5625rem 0px 1.5625rem 0px;
  @include tablet {
    width: $primary-width-tablet;
  }
  @include laptop {
    width: $primary-width-laptop;
  }

  .logoTextIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo{
    width: 3rem;
    @include tablet{
      width: 4.5rem;
    }
    @include laptop{
      width: 5rem;
    }
  }

  .text {
    display: none;
    cursor: pointer;
    @include tablet {
      color: $primary-white;
      display: flex;
      gap: 1.25rem;
      padding: 0 3.125rem 2.5rem 3.125rem;
      border-bottom: 1px solid;
    }
  }

  .social {
    display: flex;
    gap: 0.625rem;
  }

  .facebook {
    width: 1.5rem;
  }

  p {
    color: $primary-white;

    span {
      color: $secondary-red;
    }
  }
}
